

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Categories </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button   class="bnt btn-link"   >
          <a routerLink="/product"  
          class="p-2 text-muted" >All Products </a>
        </button>
        <button class="bnt btn-link"  *ngFor="let category of categories" >
          <a  
        routerLink="/product/category/{{category.categoryId}}"  
        class="p-2 text-muted" >{{category.categoryName}}</a>
        </button>
      </div>
    </div>
  </div>